*{
margin:0 ,0 , 0;
}
body{
background-image: url("../images/userAcc.jpg");
background-size:cover;
}
.box1 {
    background-color:aliceblue;
    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    background:rgba(0,0,0,0.5);
  }
  .box2{
    background-color:aliceblue;
    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    background:rgba(0,0,0,0.5);
  }
 h1{
    color:white;
    font-family:Garamond (serif);
    font-size: 300%;
    text-align: center;
    
  }
  h2{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
  }
  h3{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: center;
  }
.button1 {
  background-color:blue;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  margin:1%;
}
.button2{
    background-color:red; 
    border-color: black;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



